/* общие стили */
*{
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    list-style-type: none;
}
body {
    background-color: rgb(153, 153, 153);
}
.container {
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    margin: 10px;
    text-align: center;
}
button {
    cursor: pointer;
}

/* ToDoForm */
.todoform_wrapper {
    margin: 10px;
    text-align: center;
}
.send_form_wrapper{
    display: flex;
    justify-content: center;
}
.inputData{
    width: 500px;
    min-height: 40px;
    font-size: 30px;
    outline: 1px solid rgb(0, 0, 0); 
    border: none;
}
.sendicon {
    background-color: rgb(138, 43, 226);
    cursor: pointer;
    padding: 11px;
    outline: 1px solid rgb(0, 0, 0); 
}
.sendicon:hover {
    background-color: rgb(205, 180, 228);
}

/* ToDoList */
.item-text {
    background-color: rgb(235, 29, 108);
    margin: 5px 0 5px 0 ;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}
.strike{
    background-color: rgb(155, 90, 115);
    text-decoration: line-through;
}
.task_text {
    font-size: 30px;
}
.icon_wrapper {
    display: flex;
    align-items: center;
    padding: 7px;
}
.task_text_wrapper {
    display: flex;
    align-items: center;
    padding: 7px 0 7px 15px;
}

/* icons */
.editicon, .deleteicon, .checkbox {
    border-radius: 50px;
    padding: 10px;
    margin: 5px;
    background-color: rgb(0, 255, 200);
    cursor: pointer;
}   
.editicon:hover {
    background-color: rgb(16, 121, 98);
}
.deleteicon {
    background-color: rgb(226, 43, 43);
}   
.deleteicon:hover{
    background-color: rgb(87, 13, 13);
}
.checkbox{
    background-color: bisque;
}
.checkbox:hover{
    background-color: rgb(168, 134, 93);
}


/* EditForm */
.edit_form_wrapper {
    display: flex;
}
.inputDataEdit {
    width: 640px;
    min-height: 40px;
    font-size: 30px;
    outline: 1px solid rgb(0, 0, 0); 
    border: none;
    background-color: rgb(235, 29, 108);
    color: rgb(0, 255, 200);
}
.editiconEdit {
    border-radius: 50px;
    padding: 10px;
    margin: 5px 0 5px 15px;
    background-color: rgb(0, 255, 200);
    cursor: pointer;
}
.editiconEdit:hover {
    background-color: rgb(16, 121, 98);
}


